{% extends 'core/base.html' %}

{% block title %}{{ product.name }} | GlamVibe{% endblock %}

{% block content %}

<div class="container my-5">

<div class="card border-0 shadow-sm p-4">

<div class="row align-items-center">

<!-- FOTO MAJTAS -->
<div class="col-md-6 text-center">

{% if product.main_image %}
<img src="{{ product.main_image.url }}" class="img-fluid" style="max-width:350px;">
{% endif %}

</div>

<!-- DETAJET DJATHTAS -->
<div class="col-md-6">

<h2 class="mb-3">{{ product.name }}</h2>

<p class="text-muted small">
Category:
{% for category in product.categories.all %}
<strong>{{ category.name }}</strong>{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>

<hr>

<p style="line-height:1.8;">
{{ product.description|linebreaksbr }}
</p>

<h4 class="mt-4">${{ product.price }}</h4>

<div class="d-flex gap-2 mt-4">

<a href="{% url 'shop:shop_home' %}" class="btn btn-outline-dark btn-sm">
← Back to Shop
</a>

<button class="btn btn-dark add-to-cart" data-id="{{ product.id }}">
Add to Cart
</button>
</div>

</div>

</div>

</div>

</div>
<script>

document.addEventListener("DOMContentLoaded", function(){

const button = document.querySelector(".add-to-cart");

if(button){

button.addEventListener("click", function(){

const productId = this.dataset.id;

fetch(`/shop/add-to-cart/${productId}/`)
.then(response => response.json())
.then(data => {

const cart = document.getElementById("cart-count");

if(cart){
cart.innerText = data.cart_count;
}

const msg = document.getElementById("cart-message");

if(msg){
msg.style.display = "block";

setTimeout(function(){
msg.style.display = "none";
},2000);
}

});

});

}

});

</script>
{% endblock %}